*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    color: #fff;
}
body{
    background-color: #2e2e2e;
    /* color: var(--mycolor); */
}

nav{
    background-color: #1e1e1e;
    width: 100%;
    height: auto;
}
:root{
    --mycolor : #ff4f1f;

}

/****************************************/
          /**reusable codes**/



.main-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-width: 25rem;
    height: auto;

}

.sub-container{
    height: auto;
    display: flex;
    align-items: center;

}

/****************************************/
/**left section of navbar styling**/

.left-section-navbar{
    gap: 15rem;
}

.navbar{
    width: 100%;
    height: auto;
    /* padding: 1rem 0rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand_logo {
    width: 9rem;
}

.brand_name {
    font-size: 2rem;
}

.brand_logo img {
    width: 100%;

}

.left-navbar-main-head{
    color: var(--mycolor);
}

.left-navbar-second-head{
    font-weight: bold;
    color: var(--mycolor);
}

.navbar-fav button{
    outline: none;
    background-color: #1e1e1e;
    color:var(--mycolor);
    border: none;
    font-size: 2rem;

}

/****************************************/
/**Right section of navbar styling**/

.right-section-navbar{
    gap: 5rem;
}

.search-box-notification{
    height: auto;
    gap: 2rem;
}

.List-search-bar{
    width: 20rem;
    height: 3rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--mycolor);
    background-color: transparent;
    caret-color:var(--mycolor) ;
    outline: none;
    outline-color:var(--mycolor) ;
    color: var(--mycolor);
    

}

.List-search-bar:focus::placeholder{
    color: transparent;
}




.List-icon-search{
    color: var(--mycolor);
    font-size: 2rem;
    position: relative;
    left: 16%;
}

.List-icon-mic{
    color: var(--mycolor);
    font-size: 2rem;
    position: relative;
    right: 15%;
}

.List-icon-notification{
    color: var(--mycolor);
    font-size: 2.5rem;
}

.List-image{
    width: 9rem;
}

.List-image img{
    width: 60%;
    border-radius: 50%;
}



